<template>
  <div class="wrapper">
    <div ref="map-root" style="width: 100%; height: 100%"></div>
  </div>
</template>
<script>
import View from 'ol/View'
import Map from 'ol/Map'
// import TileLayer from 'ol/layer/Tile'
import { ImageWMS, OSM, Vector as VectorSource } from 'ol/source.js'
import { ZoomSlider } from 'ol/control.js'
import 'ol/ol.css'
import { Circle as CircleStyle, Fill, Stroke, Style } from 'ol/style.js'
import GeoJSON from 'ol/format/GeoJSON.js'

import { Tile as TileLayer, Vector as VectorLayer } from 'ol/layer.js'
import ImageLayer from 'ol/layer/Image'
import * as shapefile from 'shapefile'

const image = new CircleStyle({
  radius: 5,
  fill: null,
  stroke: new Stroke({ color: 'red', width: 1 })
})

const styles = {
  Point: new Style({
    image: image
  }),
  LineString: new Style({
    stroke: new Stroke({
      color: 'green',
      width: 1
    })
  }),
  MultiLineString: new Style({
    stroke: new Stroke({
      color: 'green',
      width: 1
    })
  }),
  MultiPoint: new Style({
    image: image
  }),
  MultiPolygon: new Style({
    stroke: new Stroke({
      color: 'yellow',
      width: 1
    }),
    fill: new Fill({
      color: 'rgba(255, 255, 0, 0.5)'
    })
  }),
  Polygon: new Style({
    stroke: new Stroke({
      color: 'blue',
      lineDash: [4],
      width: 3
    }),
    fill: new Fill({
      color: 'rgba(0, 0, 255, 0.1)'
    })
  }),
  GeometryCollection: new Style({
    stroke: new Stroke({
      color: 'magenta',
      width: 2
    }),
    fill: new Fill({
      color: 'magenta'
    }),
    image: new CircleStyle({
      radius: 10,
      fill: null,
      stroke: new Stroke({
        color: 'magenta'
      })
    })
  }),
  Circle: new Style({
    stroke: new Stroke({
      color: 'red',
      width: 2
    }),
    fill: new Fill({
      color: 'rgba(255,0,0,0.2)'
    })
  })
}

const styleFunction = function (feature) {
  return styles[feature.getGeometry().getType()]
}

export default {
  name: 'MapContainer',
  components: {},
  props: ['geojsons', 'geojsonWms'],
  data: () => ({
    olMap: null,
    vectorLayerArrayJson: [],
    vectorLayerArrayWms: []
  }),
  mounted() {
    const vectorLayers = this.geojsons.map((item) => ({
      layer: new VectorLayer({
        source: new VectorSource({
          features: new GeoJSON().readFeatures(item.json, {
            featureProjection: 'EPSG:3857'
          })
        }),
        style: styleFunction
      }),
      name: item.name
    }))

    const vectorLayerWms = this.geojsonWms.map((item) => ({
      layer: new ImageLayer({
        source: new ImageWMS({
          url: 'https://gis.scenecoalition.org/geoserver/wms',
          params: { layers: item.name }
        })
      }),
      name: item.name
    }))

    this.vectorLayerArrayJson = [...vectorLayers]
    this.vectorLayerArrayWms = [...vectorLayerWms]

    this.olMap = new Map({
      target: this.$refs['map-root'],
      layers: [
        new TileLayer({
          source: new OSM()
        }),
        ...this.vectorLayerArrayJson.map((item) => item.layer),
        ...this.vectorLayerArrayWms.map((item) => item.layer)
      ],

      view: new View({
        zoom: 2,
        center: [0, 0],
        constrainResolution: true
      }),

      controls: []
    })

    const zoomslider = new ZoomSlider()

    this.olMap.addControl(zoomslider)
  },
  watch: {
    geojsons: {
      deep: true,
      handler: function (newValue) {
        const nameArray = this.vectorLayerArrayJson.map((item) => item.name)
        // remove unchecked layer
        nameArray.forEach((item, i) => {
          if (!newValue.includes(item)) {
            this.olMap.removeLayer(this.vectorLayerArrayJson[i].layer)
            this.vectorLayerArrayJson.splice(i, 1)
            return
          }
        })
        // add new checked layer
        newValue.forEach((item) => {
          if (!nameArray.includes(item)) {
            const vectorLayer = {
              layer: new VectorLayer({
                source: new VectorSource({
                  features: new GeoJSON().readFeatures(item.json, {
                    featureProjection: 'EPSG:3857'
                  })
                }),
                style: styleFunction
              }),
              name: item.name
            }

            this.vectorLayerArrayJson.push(vectorLayer)
            this.olMap.addLayer(vectorLayer.layer)
            this.olMap.getView().fit(vectorLayer.layer.getSource().getExtent())
          }
        })
      }
    },
    geojsonWms: {
      deep: true,
      // immediate: true,
      handler: function (newValue) {
        const nameArray = this.vectorLayerArrayWms.map((item) => item.name)
        // remove unchecked layer
        nameArray.forEach((item, i) => {
          if (!newValue.includes(item)) {
            this.olMap.removeLayer(this.vectorLayerArrayWms[i].layer)
            this.vectorLayerArrayWms.splice(i, 1)
            return
          }
        })
        // add new checked layer
        newValue.forEach((item) => {
          if (!nameArray.includes(item)) {
            const vectorLayer = {
              layer: new ImageLayer({
                source: new ImageWMS({
                  url: 'https://gis.scenecoalition.org/geoserver/wms',
                  params: { layers: item.name }
                })
              }),
              name: item.name
            }

            this.vectorLayerArrayWms.push(vectorLayer)
            this.olMap.addLayer(vectorLayer.layer)
            // this.olMap.getView().fit(vectorLayer.layer.getSource().getExtent())
          }
        })
      }
    }
  }
}
</script>

<style scoped>
.wrapper {
  width: 100vw;
  height: 100vh;
}
.offcanvas.offcanvas-start {
  z-index: 1000;
}
</style>
